

  body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5dc;
    color: #333;
    margin: 0;
    padding: 0;
}
  h1, p {
    text-align: center;
    animation: fadeIn 1s;
    font-family: 'Roboto', sans-serif;

}
ul{
  list-style-type: none;
  padding: 0;
  text-align: center;
}
a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s;
}

ul li {
  display: inline;
  margin-right: 20px;
}

hr {
  border: 1px solid #ccc;
  margin: 20px 0;
}
  
  form {
    max-width: 600px;
    margin: auto;
    background-color: #87ceeb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}



input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  

  
  input[type="submit"]:hover {
    background-color: #207dbb;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bn29 {
border: none;
padding: 0.8em 2.5em;
outline: none;
color: white;
font-style: 1.2em;
position: relative;
z-index: 1;
cursor: pointer;
background: none;
text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.bn29:before,
.bn29:after {
position: absolute;
top: 50%;
left: 50%;
border-radius: 10em;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
width: 105%;
height: 105%;
content: "";
z-index: -2;
background-size: 400% 400%;
background: linear-gradient(
60deg,
#f79533,
#f37055,
#ef4e7b,
#a166ab,
#5073b8,
#1098ad,
#07b39b,
#6fba82
);
}

.bn29:before {
-webkit-filter: blur(7px);
filter: blur(7px);
-webkit-transition: all 0.25s ease;
transition: all 0.25s ease;
-webkit-animation: pulse 10s infinite ease;
animation: pulse 10s infinite ease;
}

.bn29:after {
-webkit-filter: blur(0.3px);
filter: blur(0.3px);
}

.bn29:hover:before {
width: 115%;
height: 115%;
}


.password-input-box{
  position: relative;
  width: 300px;
  height: 40px;
}

.password-input{
  width: 100%;
  height: 100%;
  background: #fff;
  border: none;
  padding: 5px 15px;
  outline: none;
  border-radius: 5px;
  color: #d34970;
  padding-right: 45px;
}

.password-input::placeholder{
  color: #d34970;
}

.password-input:focus{
  box-shadow: 0 0 0 3px #d34970,
              0 0 0 6px #4fe222;
}

.show-password{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #92203f;
}

.password-checklist{
  position: absolute;
  top: calc(100% + 10px);
  width: 100%;
  padding: 20px 30px;
  background: #ef547f;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: .5s ease;
}

.password-input:focus ~ .password-checklist{
  opacity: 1;
  transform: translateY(0);
}

.checklist-title{
  font-size: 15px;
  color: #922037;
  margin-bottom: 10px;
}

.checklist{
  list-style: none;
}

.list-item{
  padding-left: 30px;
  color: #fff;
  font-size: 14px;
}

.list-item::before{
  content: '\f00d';
  font-family: FontAwesome;
  display: inline-block;
  margin: 8px 0;
  margin-left: -30px;
  width: 20px;
  font-size: 12px;
}

.list-item.checked{
  opacity: 0.5;
}

.list-item.checked::before{
  content: '\f00c';
  color: #922037;
}